$font: Arial, Helvetica, sans-serif;
$grayColor:#595757;
$blackColor: #262424;
$whiteColor: #cccaca;
$iconGray: #c9c3bb;
$yellow: #FBCF71;
$darkBlue: #1F7BB6;
$lightBlue: #01AAAA;
$borderColor: #c5c7c9;
