@import '../../Variables/Variables.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}
.shadow {
    height: 20px;
    background-color: #fafafa;
}
.main-page {
    display: flex;
    padding: 15px 35px 35px;
}
